[project]
	description = An application supporting the organization of table football
	state = hidden
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcin Puc (Tranzystorek)
[access "refs/for/refs/*"]
	read = group user/Marcin Puc (Tranzystorek)
	push = group user/Marcin Puc (Tranzystorek)
	label-Code-Review = -2..+2 group user/Marcin Puc (Tranzystorek)
	label-Verified = -1..+1 group user/Marcin Puc (Tranzystorek)
	rebase = group user/Marcin Puc (Tranzystorek)
	removeReviewer = group user/Marcin Puc (Tranzystorek)
	submit = group user/Marcin Puc (Tranzystorek)
[access "refs/heads/*"]
	read = group user/Marcin Puc (Tranzystorek)
	create = group user/Marcin Puc (Tranzystorek)
	push = +force group user/Marcin Puc (Tranzystorek)
	pushMerge = group user/Marcin Puc (Tranzystorek)
[access "refs/tags/*"]
	push = group user/Marcin Puc (Tranzystorek)
	push = +force group user/Marcin Puc (Tranzystorek)
