<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-route.js"></script>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="/css/content.css" th:href="@{/css/content.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.js"></script>
    <title>OpenFossball</title>
</head>
<body ng-app="mymodal" style="padding-top: 40px">

<div class="content">
    <div ng-controller="MainCtrl">
        <!-- Navigation -->
        <div th:include="navbar"></div>
        <!-- Navigation --->

        <div class="container" style="padding-top: 25px">

            <!-- Page Content -->
            <div class="row">

                <div class="col-lg-12">


                    <!--TODO Dodać Paginację.-->
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Points</th>
                                <th scope="col">Wins</th>
                                <th scope="col">Matches</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="player,iter : ${playerVector}">
                                <td>
                                    <div th:text="${iter.index+1}"></div>
                                </td>
                                <td><a th:href="@{playerpage(player=${player.getUserName()})}"
                                       th:text="${player.getUserName()}"></a></td>
                                <td>
                                    <div th:text="${player.getFirstName()}"></div>
                                </td>
                                <td>
                                    <div th:text="${player.getLastName()}"></div>
                                </td>
                                <td>
                                    <div th:text="${player.getPoints()}"></div>
                                </td>
                                <td>
                                    <div th:text="${player.getWins()}"></div>
                                </td>
                                <td>
                                    <div th:text="${player.getMatches()}"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.col-lg-9 -->
            </div>

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <div th:include="footer"></div>
        <!-- Footer --->

    </div>
</div>
<script>
    var mymodal = angular.module('mymodal', []);

    mymodal.controller('MainCtrl', function ($scope) {

    });

</script>
</body>
</html>