<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-route.js"></script>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="/css/content.css" th:href="@{/css/content.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.js"></script>
    <link href="assets" rel="stylesheet" media="screen"/>
    <title>OpenFossball</title>
</head>
<body ng-app="mymodal" style="padding-top: 40px">

<div class="content">
    <div ng-controller="scoringCtrl">
        <!-- Navigation -->
        <div th:include="navbar"></div>
        <!-- Navigation --->

        <div class="container">

            <!-- Page Content -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="card bg-dark text-white mt-4">
                        <img class="card-img-top img-fluid" ng-src="{{scoringImage}}" alt="scoringImage"
                             title="scoringImage"/>
                        <div class="card-body">
                            <h3 class="card-title">Scoring</h3>
                            <h4>Scoring in our company</h4>
                            <p class="card-text">Simple table which shows us how points are awarded to matches in our
                                Company :)</p>
                        </div>
                    </div>
                    <!-- /.card -->
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-dark">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Points</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="points,iter : ${pointsVector}">
                                        <td>
                                            <div th:text="${iter.index+1} + 'Tu będzie jakiś mały obrazek jeśli będziemy chcieli'"></div>
                                        </td>
                                        <td>
                                            <div th:text="${points.getName()}"></div>
                                        </td>
                                        <td>
                                            <div th:text="${points.getPoints()}"></div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <!-- /.card -->
                </div>
                <!-- /.col-lg-9 -->
            </div>

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <div th:include="footer"></div>
        <!-- Footer --->
    </div>
</div>
<script>
    var mymodal = angular.module('mymodal', []);

    mymodal.controller('scoringCtrl', function ($scope) {
        $scope.scoringImage = '/img/scoring_points.jpg';
        $scope.tournamentImage = '/img/trophy.jpg';
        $scope.regularImage = '/img/regular.png';
        $scope.trainingImage = '/img/training.jpg';
    });

</script>
</body>
</html>